.jumbotron{
  background-image: url("../img/backgrounds/landing.jpg");
  text-align: center;
}
.col-md-3{
  border: solid black 1px;
  text-align: center;
  padding: 100px;

}
body{
  text-align: center;
  font-family: sans-serif;
}
#breakfast{
  background-image: ("img/foodtop/breakfast.jpg")
}
#Lunch{
  background-image: ("img/foodtop/lunch.jpg")
}
#Dinner{
  background-image: ("img/foodtop/dinner.jpg")
}
