.jumbotron{
  background-image: url("../img/backgrounds/landing.jpg");
  text-align: center;
}
.breakfast{
  background-image: url("..img/foodtop/breakfast.jpg");
}
.dinner{
  background-image: url("..img/foodtop/dinner.jpg")
}
.lunch{
  background-image: url("..img/foodtop/lunch.jpg")
}
